/*AAGaming#9395*/
[user_by_bdfdb*="373833473091436546"],
[data-user-id*="373833473091436546"] + *,
[data-author-id*="373833473091436546"],
[style*="373833473091436546"] + *,
img[src*="373833473091436546"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #33cf33, rgb(16, 57, 192);
  --name-gradient-angle: 210deg;
}


/*botato#6883*/
[user_by_bdfdb*="440990343899643943"],
[data-user-id*="440990343899643943"] + *,
[data-author-id*="440990343899643943"],
[style*="440990343899643943"] + *,
img[src*="440990343899643943"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #7289da, #33cf33;
}


/*DanKGooGLy#1337*/
[user_by_bdfdb*="348918040248713217"],
[data-user-id*="348918040248713217"] + *,
[data-author-id*="348918040248713217"],
[style*="348918040248713217"] + *,
img[src*="348918040248713217"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #301394, #6a0dad;
}


/*AAGaming2#7984*/
[user_by_bdfdb*="634500033366065186"],
[data-user-id*="634500033366065186"] + *,
[data-author-id*="634500033366065186"],
[style*="634500033366065186"] + *,
img[src*="634500033366065186"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #dc175b, #eea312;
  --name-gradient-angle: 190deg;
}


/*Bowser65#0001*/
[user_by_bdfdb*="94762492923748352"],
[data-user-id*="94762492923748352"] + *,
[data-author-id*="94762492923748352"],
[style*="94762492923748352"] + *,
img[src*="94762492923748352"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #f49898, #bb6570;
  --name-gradient-angle: 75deg;
}


/*snapperito#0001*/
[user_by_bdfdb*="431883840483491850"],
[data-user-id*="431883840483491850"] + *,
[data-author-id*="431883840483491850"],
[style*="431883840483491850"] + *,
img[src*="431883840483491850"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ad5389, #3c1053;
}

/*DracoClaw#0065*/
[user_by_bdfdb*="341680387979870219"],
[data-user-id*="341680387979870219"] + *,
[data-author-id*="341680387979870219"],
[style*="341680387979870219"] + *,
img[src*="341680387979870219"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #d578f2, #ff00ff;
  --name-gradient-angle: 225deg;
}
  
/*Mr. Weeb#8509*/
[user_by_bdfdb*="421706964612153366"],
[data-user-id*="421706964612153366"] + *,
[data-author-id*="421706964612153366"],
[style*="421706964612153366"] + *,
img[src*="421706964612153366"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ff0000, #fb00ff;
}
  
/*Sockhead#8734*/
[user_by_bdfdb*="353659792973103115"],
[data-user-id*="353659792973103115"] + *,
[data-author-id*="353659792973103115"],
[style*="353659792973103115"] + *,
img[src*="353659792973103115"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #00ff00, #ff69b4;
}
  
/*D4#0212*/
[user_by_bdfdb*="270274137866502154"],
[data-user-id*="270274137866502154"] + *,
[data-author-id*="270274137866502154"],
[style*="270274137866502154"] + *,
img[src*="270274137866502154"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #00ffee, #2bff00;
  --name-gradient-angle: 120deg;
}
  
/*aus#9711*/
[user_by_bdfdb*="185865742858715136"],
[data-user-id*="185865742858715136"] + *,
[data-author-id*="185865742858715136"],
[style*="185865742858715136"] + *,
img[src*="185865742858715136"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ff00ff, #8080c0;
}
  
/*4j0#7967*/
[user_by_bdfdb*="364616437353938945"],
[data-user-id*="364616437353938945"] + *,
[data-author-id*="364616437353938945"],
[style*="364616437353938945"] + *,
img[src*="364616437353938945"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #66ff00, #00b3ff;
  --name-gradient-angle: 3deg;
}
  
/*Leeprky#1234*/
[user_by_bdfdb*="224524143482241035"],
[data-user-id*="224524143482241035"] + *,
[data-author-id*="224524143482241035"],
[style*="224524143482241035"] + *,
img[src*="224524143482241035"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ffaeff, #80ff80;
}
  
/*Јрuf#0001*/
[user_by_bdfdb*="420893806049624074"],
[data-user-id*="420893806049624074"] + *,
[data-author-id*="420893806049624074"],
[style*="420893806049624074"] + *,
img[src*="420893806049624074"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #f401cb, #006eff;
}
  

/*Dami#0999*/
[user_by_bdfdb*="741488992066994287"],
[data-user-id*="741488992066994287"] + *,
[data-author-id*="741488992066994287"],
[style*="741488992066994287"] + *,
img[src*="741488992066994287"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ff80c0, #8080ff;
}
  
/*Kanin#0001*/
[user_by_bdfdb*="173237945149423619"],
[data-user-id*="173237945149423619"] + *,
[data-author-id*="173237945149423619"],
[style*="173237945149423619"] + *,
img[src*="173237945149423619"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ff0000, #940000;
  --name-gradient-angle: 45deg;
}
  
/*𝓝𝓮𝔁𝓽𝓦𝓸𝓻𝓴𝓼 (¯▿¯)#1419*/
[user_by_bdfdb*="541684766060314632"],
[data-user-id*="541684766060314632"] + *,
[data-author-id*="541684766060314632"],
[style*="541684766060314632"] + *,
img[src*="541684766060314632"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #00ffb7, #1e9949;
}
  
/*Wamwod#2049*/
[user_by_bdfdb*="157638130193661953"],
[data-user-id*="157638130193661953"] + *,
[data-author-id*="157638130193661953"],
[style*="157638130193661953"] + *,
img[src*="157638130193661953"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ff8000, #80ffff;
  --name-gradient-angle: 2deg;
}
  
/*Ghqst#6969*/
[user_by_bdfdb*="457729362750472192"],
[data-user-id*="457729362750472192"] + *,
[data-author-id*="457729362750472192"],
[style*="457729362750472192"] + *,
img[src*="457729362750472192"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #f5f5f5, #808080;
}
  
/*Wamwod#2049*/
[user_by_bdfdb*="157638130193661953"],
[data-user-id*="157638130193661953"] + *,
[data-author-id*="157638130193661953"],
[style*="157638130193661953"] + *,
img[src*="157638130193661953"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #000080, #00ffff;
  --name-gradient-angle: 0deg;
}
  
/*PoorPockets McNewHold#1984*/
[user_by_bdfdb*="277173061973835778"],
[data-user-id*="277173061973835778"] + *,
[data-author-id*="277173061973835778"],
[style*="277173061973835778"] + *,
img[src*="277173061973835778"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #7812bc, #bf00c5;
  --name-gradient-angle: 186deg;
}
  
/*Advarex#2137*/
[user_by_bdfdb*="325315358233985025"],
[data-user-id*="325315358233985025"] + *,
[data-author-id*="325315358233985025"],
[style*="325315358233985025"] + *,
img[src*="325315358233985025"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #8f66ff, #0084ff;
}
  
/*Whippersnatch Pumpkinpatch#2008*/
[user_by_bdfdb*="245592600793317377"],
[data-user-id*="245592600793317377"] + *,
[data-author-id*="245592600793317377"],
[style*="245592600793317377"] + *,
img[src*="245592600793317377"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #4d4d4d, #01bc0d;
  --name-gradient-angle: 0deg;
}
  
/*Cyril-#1111*/
[user_by_bdfdb*="208245265751212032"],
[data-user-id*="208245265751212032"] + *,
[data-author-id*="208245265751212032"],
[style*="208245265751212032"] + *,
img[src*="208245265751212032"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ffee00, #002aff;
}
  
/*hXiboon#0187*/
[user_by_bdfdb*="682582825043492930"],
[data-user-id*="682582825043492930"] + *,
[data-author-id*="682582825043492930"],
[style*="682582825043492930"] + *,
img[src*="682582825043492930"] {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #00affa, #ffffff;
}
  