[user_by_bdfdb*="373833473091436546"],
[data-user-id*="373833473091436546"],
[data-author-id*="373833473091436546"] {
	--name-dummy-transparent: transparent; --name-dummy-1: 1;
	--name-gradient: #33cf33, rgb(16, 57, 192);
	--name-gradient-angle: 80deg;
}
