/* Import the Database */
@import url('https://discord-custom-gradient-names.github.io/gradient/database.css');


/* Actual Code */
[class*="username"],
[class*="nameTag"] {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--name-dummy-transparent);
  background-clip: text;
  text-fill-color: var(--name-dummy-transparent);
  background-image: linear-gradient(var(--name-gradient-angle, to right), var(--name-gradient));
}
[class*="username"]:hover {
  text-decoration: underline;
}
[class*="discriminator"] {
  opacity: var(--name-dummy-1);
}
