/* Import the Database */
@import url('https://discord-custom-gradient-names.github.io/gradient/dist/database.min.css');


/* Actual Code */
[class*="username"],
[class*="nameTag"],
[class*="replyUsername"] {
  --name-dummy-transparent: null;
  --name-gradient: null;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--name-dummy-transparent);
  background-clip: text;
  text-fill-color: var(--name-dummy-transparent);
  background-image: linear-gradient(var(--name-gradient-angle, to right), var(--name-gradient));
}
[class*="replyUsername"] {
  --name-dummy-transparent: null;
  --name-gradient: null;
}
[class*="discriminator"] {
  opacity: var(--name-dummy-1);
}
